
.right-div{
    padding-top: 5%;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
  }

  .buy-sell-div {
    width: 120px;
    margin-bottom: 20px;
  }
  
  .buy-sell-div button{
    width: 60px;
    border-radius: 10px;
    cursor: pointer;
  }

  .buy-button{
    background-color: greenyellow;
  }

  .sell-button{
    background-color: orange;
  }

  select{
    background-color: #282c34;
    color: white;
    width: 120px;
  }